<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <a class="nav-item nav-link" href="/register">Register</a>
      </div>
    </div>
    <table>
      <form method="POST" action="/login">
        <label for="userName">  
        </label>
        <input class="form-control" type="text" name="userName" placeholder="
        <% if(userName)  { %>
          <%= userName %>
          <% } else { %> 
            <%= "userName" %>
            <% }  %> 
        " style="width: 300px; margin: 1em">
        <% if(userName)  { %>
          <form  method="POST" action="/logout">
            <button class="btn btn-primary" type="submit">logout</button> 
          </form>
          <% } else { %> 
            <button class="btn btn-primary" type="submit">login</button>
          <% }  %>    
          </form>
    </table>
</header>